{% extends 'CMCoreBundle::layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock title %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmcore/js/previewContact.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock body %}
